<div class="row my-4">
  <div class="col-md-8 offset-md-2">
    <table class="table table-bordered table-striped">
      <tr>
        <th>S. No</th>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
        <th>Action</th>
      </tr>
      <% data.forEach((result, n)=>{ %>
        <tr>
          <td><%= n+1 %></td>
          <td><%= result.name %></td>
          <td><%= result.age %></td>
          <td><%= result.city %></td>
          <td colspan="2">
            <a href="/edit/<%= result._id %>" class="btn btn-warning">Edit</a>
            <a href="/delete/<%= result._id %>" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      <% }) %>
    </table>
  </div>
</div>